Repository whynot-here/whynot-here-api-server, pull requests merged in 2022-02, with the labels that each got.

#13 [BE] build: springdoc-openapi 적용
  build.gradle
  src/main/resources/application.yml
Labels: backend, feature

#14 [BE] test: 테스트 코드 추가
  Dockerfile
  build.gradle
  docs/DB_schema_v0.1.md
  src/main/java/handong/whynot/api/AccountController.java
  src/main/java/handong/whynot/api/UserController.java
  src/main/java/handong/whynot/config/SecurityConfig.java
  src/main/java/handong/whynot/domain/Account.java
  src/main/java/handong/whynot/domain/Post.java
  src/main/java/handong/whynot/domain/PostApply.java
  src/main/java/handong/whynot/domain/PostFavorite.java
  src/main/java/handong/whynot/dto/account/AccountResponseCode.java
  src/main/java/handong/whynot/dto/common/ErrorResponseDTO.java
  src/main/java/handong/whynot/dto/post/PostRequestDTO.java
  src/main/java/handong/whynot/dto/post/PostResponseDTO.java
  src/main/java/handong/whynot/dto/user/UserResponseCode.java
  src/main/java/handong/whynot/exception/account/AccountNotFoundException.java
  src/main/java/handong/whynot/exception/user/UserNotFoundException.java
  src/main/java/handong/whynot/handler/AccountExceptionHandler.java
  src/main/java/handong/whynot/repository/AccountRepository.java
  src/main/java/handong/whynot/repository/PostQueryRepository.java
  src/main/java/handong/whynot/repository/UserRepository.java
  src/main/java/handong/whynot/service/PostService.java
  src/main/resources/application.yml
  src/main/resources/import.sql
  src/test/java/handong/whynot/service/PostServiceJpaTest.java
  src/test/java/handong/whynot/service/PostServiceMvcTest.java
  src/test/java/handong/whynot/service/PostServiceTest.java
  src/test/resources/import.sql
Labels: backend, test

#17 [BE] feat: 로그인 인증 환경 세팅
  build.gradle
  docs/DB_schema_v0.1.md
  src/main/java/handong/whynot/api/AccountController.java
  src/main/java/handong/whynot/api/UserController.java
  src/main/java/handong/whynot/config/AppConfig.java
  src/main/java/handong/whynot/config/SecurityConfig.java
  src/main/java/handong/whynot/domain/Account.java
  src/main/java/handong/whynot/domain/Post.java
  src/main/java/handong/whynot/domain/PostApply.java
  src/main/java/handong/whynot/domain/PostFavorite.java
  src/main/java/handong/whynot/dto/account/AccountResponseCode.java
  src/main/java/handong/whynot/dto/account/SignUpDTO.java
  src/main/java/handong/whynot/dto/account/UserAccount.java
  src/main/java/handong/whynot/dto/post/PostRequestDTO.java
  src/main/java/handong/whynot/dto/post/PostResponseDTO.java
  src/main/java/handong/whynot/dto/user/UserResponseCode.java
  src/main/java/handong/whynot/exception/account/AccountAlreadyExistEmailException.java
  src/main/java/handong/whynot/exception/account/AccountAlreadyExistNicknameException.java
  src/main/java/handong/whynot/exception/account/AccountNotFoundException.java
  src/main/java/handong/whynot/exception/account/AccountNotValidFormException.java
  src/main/java/handong/whynot/exception/user/UserNotFoundException.java
  src/main/java/handong/whynot/handler/AccountExceptionHandler.java
  src/main/java/handong/whynot/repository/AccountRepository.java
  src/main/java/handong/whynot/repository/PostQueryRepository.java
  src/main/java/handong/whynot/repository/UserRepository.java
  src/main/java/handong/whynot/service/AccountService.java
  src/main/java/handong/whynot/service/PostService.java
  src/main/resources/application.yml
  src/main/resources/import.sql
  src/test/java/handong/whynot/api/PostServiceMvcTest.java
  src/test/java/handong/whynot/service/PostServiceJpaTest.java
  src/test/java/handong/whynot/service/PostServiceTest.java
  src/test/resources/import.sql
Labels: backend, feature, refactor

#21 [BE] 공고 조회, 삭제, 수정 API
  build.gradle
  src/main/java/handong/whynot/api/PostController.java
  src/main/java/handong/whynot/domain/Post.java
  src/main/java/handong/whynot/repository/JobPostRepository.java
  src/main/java/handong/whynot/repository/PostApplyRepository.java
  src/main/java/handong/whynot/repository/PostFavoriteRepository.java
  src/main/java/handong/whynot/repository/PostRepository.java
  src/main/java/handong/whynot/service/PostService.java
  src/test/java/handong/whynot/api/PostServiceMvcTest.java
  src/test/java/handong/whynot/common/WithMockCustomUserSecurityContextFactory.java
  src/test/java/handong/whynot/service/PostServiceTest.java
Labels: backend, feature, test

#26 [BE] feat: 좋아요 공고 조회 API & 테스트
  src/main/java/handong/whynot/api/PostController.java
  src/main/java/handong/whynot/config/SecurityConfig.java
  src/main/java/handong/whynot/repository/PostQueryRepository.java
  src/main/java/handong/whynot/service/PostService.java
  src/test/java/handong/whynot/service/PostServiceTest.java
Labels: backend, feature, test

#27 [BE] feat: 좋아요 공고 생성 API & 테스트
  src/main/java/handong/whynot/api/PostController.java
  src/main/java/handong/whynot/dto/post/PostResponseCode.java
  src/main/java/handong/whynot/exception/post/PostAlreadyFavoriteOn.java
  src/main/java/handong/whynot/handler/PostExceptionHandler.java
  src/main/java/handong/whynot/repository/PostQueryRepository.java
  src/main/java/handong/whynot/service/PostService.java
  src/test/java/handong/whynot/api/PostServiceMvcTest.java
  src/test/java/handong/whynot/service/PostServiceTest.java
Labels: backend, feature, test

#28 [BE] feat: 좋아요 공고 삭제 API & 테스트
  src/main/java/handong/whynot/api/PostController.java
  src/main/java/handong/whynot/dto/post/PostResponseCode.java
  src/main/java/handong/whynot/exception/post/PostAlreadyFavoriteOff.java
  src/main/java/handong/whynot/handler/PostExceptionHandler.java
  src/main/java/handong/whynot/repository/PostQueryRepository.java
  src/main/java/handong/whynot/service/PostService.java
  src/test/java/handong/whynot/api/PostServiceMvcTest.java
  src/test/java/handong/whynot/service/PostServiceTest.java
Labels: backend, feature, test

#29 [BE] feat: 신청한 공고 전체 조회 API & 테스트
  src/main/java/handong/whynot/api/PostController.java
  src/main/java/handong/whynot/repository/PostQueryRepository.java
  src/main/java/handong/whynot/service/PostService.java
  src/test/java/handong/whynot/service/PostServiceTest.java
Labels: backend, feature, test

#31 [BE] feat: 공고 신청 취소 API & 테스트
  src/main/java/handong/whynot/api/PostController.java
  src/main/java/handong/whynot/dto/post/PostResponseCode.java
  src/main/java/handong/whynot/exception/post/PostAlreadyApplyOff.java
  src/main/java/handong/whynot/handler/PostExceptionHandler.java
  src/main/java/handong/whynot/service/PostService.java
  src/test/java/handong/whynot/api/PostServiceMvcTest.java
  src/test/java/handong/whynot/service/PostServiceTest.java
Labels: backend, feature, test

#32 [BE] feat: 자신이 올린 공고 전체 조회 API & 테스트
  src/main/java/handong/whynot/api/PostController.java
  src/main/java/handong/whynot/config/SecurityConfig.java
  src/main/java/handong/whynot/repository/PostRepository.java
  src/main/java/handong/whynot/service/PostService.java
  src/test/java/handong/whynot/service/PostServiceTest.java
Labels: backend, feature, test

#34 [BE] feat: 직군 조회 API 추가
  src/main/java/handong/whynot/api/JobController.java
  src/main/java/handong/whynot/dto/job/JobDTO.java
  src/main/java/handong/whynot/dto/job/JobResponseDTO.java
  src/main/java/handong/whynot/service/JobService.java
Labels: backend, feature

#33 [BE] feat: 공고 필터, 상태변경 API & 테스트
  src/main/java/handong/whynot/api/PostController.java
  src/main/java/handong/whynot/dto/job/JobEnum.java
  src/main/java/handong/whynot/dto/post/PostRecruitDTO.java
  src/main/java/handong/whynot/dto/post/PostResponseCode.java
  src/main/java/handong/whynot/dto/post/RecruitEnum.java
  src/main/java/handong/whynot/exception/post/PostInvalidQueryStringException.java
  src/main/java/handong/whynot/handler/PostExceptionHandler.java
  src/main/java/handong/whynot/repository/PostQueryRepository.java
  src/main/java/handong/whynot/service/PostService.java
  src/main/java/handong/whynot/util/JobEnumConverter.java
  src/main/java/handong/whynot/util/PostStatusConverter.java
  src/test/java/handong/whynot/api/PostServiceMvcTest.java
  src/test/java/handong/whynot/service/PostServiceTest.java
Labels: backend, feature, test

#37 [BE] docker-compose.yml 업데이트
  docker/docker-compose.yml
Labels: feature

#39 hotfix: cors 이슈 해소
  src/main/java/handong/whynot/config/SecurityConfig.java
  src/main/java/handong/whynot/config/WebConfig.java
Labels: hotfix
